.blog {
  width: 100%;
  height: 100%;
  max-width: var(--max-page-width);
}

header {
  padding: 12px;
}

header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  font-family: var(--font-fira-mono);
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  /* vertical-align: middle; */
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 2px;
  letter-spacing: 2px;
}

header > nav svg {
  width: 44px;
  height: 44px;
  fill: rgb(var(--one-red-rgb));
}

header > nav > * {
  flex-grow: 1;
  text-align: left;
  vertical-align: middle;

  &:nth-child(2) {
    flex-grow: 0;
    font-family: var(--font-rubik-mono-one);
    color: var(--one-blue);
    font-size: 18px;
    letter-spacing: 1.6px;
    text-align: center;
    text-shadow: rgba(var(--one-blue-rgb), 0.4) 1px 1px 5px;
  }
}

footer {
  font-family: var(--font-fira-mono);
  font-size: 14px;
  padding: 14px;
}

@media only screen and (min-width: 430px) {
  header {
    padding: 16px;
  }

  header > nav {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2.2px;
    gap: 6px;
  }

  header > nav svg {
    width: 48px;
    height: 48px;
  }

  header > nav > * {
    &:nth-child(2) {
      font-size: 20px;
      letter-spacing: 1.8px;
    }
  }
}

@media only screen and (min-width: 768px) {
  header {
    padding: 24px;
  }

  header > nav {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 2.4px;
    gap: 12px;
  }

  header > nav svg {
    width: 64px;
    height: 64px;
  }

  header > nav > * {
    &:nth-child(2) {
      font-size: 28px;
      letter-spacing: 2px;
    }
  }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1280px) {
}
