.blog {
  --blog-margin-x: 12px;
  --blog-margin-y: 12px;

  --blog-header-img-size: 42px;

  --blog-title-font-size: 28px;
  --blog-title-font-weight: 400;
  --blog-title-line-height: 1;
  --blog-title-letter-spacing: 1.8px;

  --blog-footer-font-size: 14px;
  --blog-footer-font-weight: 400;
  --blog-footer-line-height: 1.2;
  --blog-footer-letter-spacing: 1.2px;

  --blog-footer-margin: 32px 0;

  width: 100%;
  max-width: var(--max-page-width);
  margin: var(--blog-margin-y) var(--blog-margin-x);
}

.blog > header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog > header > nav > a:first-child > img {
  width: var(--blog-header-img-size);
  height: var(--blog-header-img-size);
  border-radius: 50%;
}

.blog > header > nav > a:nth-child(2) > p {
  transform: rotate(-8deg);
  font-family: var(--font-marck-script);
  font-size: var(--blog-title-font-size);
  font-weight: var(--blog-title-font-weight);
  line-height: var(--blog-title-line-height);
  letter-spacing: var(--blog-title-letter-spacing);
  color: var(--one-blue);
  margin: 0;
}

.blog > header > nav > a:nth-child(2) > p > span:last-child {
  color: var(--one-red);
  text-decoration: underline;
  margin-left: 4px;
}

.blog > header > nav > a:last-child > svg {
  width: var(--blog-header-img-size);
  height: var(--blog-header-img-size);
  fill: rgb(var(--one-red-rgb));
}

.blog > footer {
  font-size: var(--blog-footer-font-size);
  font-weight: var(--blog-footer-font-weight);
  line-height: var(--blog-footer-line-height);
  letter-spacing: var(--blog-footer-letter-spacing);
  margin: var(--blog-footer-margin);
}

@media only screen and (min-width: 430px) {
  .blog {
    --blog-margin-x: 16px;
    --blog-margin-y: 16px;

    --blog-header-img-size: 56px;

    --blog-title-font-size: 32px;

    --blog-footer-font-size: 16px;

    --blog-footer-margin: 42px 0;
  }
}

@media only screen and (min-width: 768px) {
  .blog {
    --blog-margin-y: 24px;

    --blog-header-img-size: 72px;

    --blog-title-font-size: 38px;

    --blog-footer-font-size: 18px;

    --blog-footer-margin: 56px 0;
  }
}

@media only screen and (min-width: 992px) {
  .blog {
    --blog-margin-y: 28px;

    --blog-header-img-size: 96px;

    --blog-title-font-size: 42px;

    --blog-footer-font-size: 20px;

    --blog-footer-margin: 64px 0;
  }
}

@media only screen and (min-width: 1280px) {
  .blog {
    --blog-margin-y: 32px;

    --blog-header-img-size: 112px;

    --blog-title-font-size: 48px;

    --blog-footer-font-size: 22px;
  }
}
