.blog {
  --blog-margin-x: 12px;
  --blog-margin-y: 12px;

  --blog-header-icon-size: 32px;

  --blog-title-font-size: 20px;
  --blog-title-font-weight: 700;
  --blog-title-line-height: 1.1;
  --blog-title-letter-spacing: 1px;

  --blog-description-font-size: 18px;
  --blog-description-font-weight: 400;
  --blog-description-line-height: 1;
  --blog-description-letter-spacing: 1.4px;

  --blog-footer-font-size: 14px;
  --blog-footer-font-weight: 400;
  --blog-footer-line-height: 1.2;
  --blog-footer-letter-spacing: 1.2px;

  --blog-footer-margin: 32px 0;

  margin: var(--blog-margin-y) var(--blog-margin-x);
  max-width: var(--max-page-width);
}

.blog > header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog > header > nav > a svg {
  width: var(--blog-header-icon-size);
  height: var(--blog-header-icon-size);
  fill: rgb(var(--one-red-rgb));
}

.blog > header > nav > div {
  text-align: center;
}

.blog > header > nav > div > a > p {
  font-family: var(--font-fira-mono);
  color: var(--one-blue);
  font-size: var(--blog-title-font-size);
  font-weight: var(--blog-title-font-weight);
  line-height: var(--blog-title-line-height);
  letter-spacing: var(--blog-title-letter-spacing);
  text-shadow: rgba(var(--one-blue-rgb), 0.4) 1px 1px 5px;
  margin: 0;
}

.blog > header > nav > div > p {
  font-family: var(--font-marck-script);
  color: rgb(var(--one-red-rgb));
  font-size: var(--blog-description-font-size);
  font-weight: var(--blog-description-font-weight);
  line-height: var(--blog-description-line-height);
  letter-spacing: var(--blog-description-letter-spacing);
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 2px;
  margin: 0;
  transform: rotate(-5deg);
}

.blog > header > nav > span {
  height: 32px;
  width: 32px;
}

.blog > footer {
  font-size: var(--blog-footer-font-size);
  font-weight: var(--blog-footer-font-weight);
  line-height: var(--blog-footer-line-height);
  letter-spacing: var(--blog-footer-letter-spacing);
  margin: var(--blog-footer-margin);
}

@media only screen and (min-width: 430px) {
  .blog {
    --blog-margin-x: 16px;
    --blog-margin-y: 16px;

    --blog-header-icon-size: 40px;

    --blog-title-font-size: 26px;
    --blog-title-letter-spacing: 1.2px;

    --blog-description-font-size: 22px;

    --blog-footer-font-size: 16px;

    --blog-footer-margin: 42px 0;
  }
}

@media only screen and (min-width: 768px) {
  .blog {
    --blog-margin-y: 24px;

    --blog-header-icon-size: 64px;

    --blog-title-font-size: 32px;
    --blog-title-letter-spacing: 2.4px;

    --blog-description-font-size: 26px;
    --blog-description-letter-spacing: 1.6px;

    --blog-footer-font-size: 18px;

    --blog-footer-margin: 56px 0;
  }
}

@media only screen and (min-width: 992px) {
  .blog {
    --blog-margin-y: 24px;

    --blog-header-icon-size: 72px;

    --blog-title-font-size: 34px;

    --blog-description-font-size: 28px;

    --blog-footer-font-size: 20px;

    --blog-footer-margin: 64px 0;
  }
}

@media only screen and (min-width: 1280px) {
  .blog {
    --blog-margin-y: 24px;

    --blog-header-icon-size: 88px;

    --blog-title-font-size: 38px;

    --blog-description-font-size: 32px;
  }
}
