.controls {
  display: flex;
  justify-content: center;
  gap: 18px;

  svg {
    width: 42px;
    height: 42px;
  }

  button {
    background-color: inherit;
    border: none;
    cursor: pointer;
  }

  a:first-child {
    fill: var(--one-green);
  }

  button:nth-child(2) {
    fill: var(--one-blue);
  }

  button:last-child {
    fill: var(--one-red);
  }
}
