label {
  font-size: 16px;
}

.formControl {
  display: flex;
  flex-direction: column;
  padding: 6px 0;
}

input[type='text'] {
  padding: 6px;
}

input[type='submit'] {
  padding: 4px 10px;
}

textarea {
  padding: 18px;
}
