li {
  padding: 6px;
  border-bottom: 1px solid var(--one-navy-blue);

  a {
    color: inherit;
  }

  a > time {
    color: var(--one-navy-blue);
  }

  p {
    margin: 0;
    font-family: var(--font-fira-sans);
  }
}
