article {
  --meta-flex-direction: column;
  --meta-justify-content: flex-start;
  --meta-align-items: center;
  --meta-icon-size: 36px;
  --meta-p-font-size: 14px;
  --meta-em-font-size: 18px;
}

article > header > .meta {
  display: flex;
  flex-direction: var(--meta-flex-direction);
  justify-content: var(--meta-justify-content);
  align-items: var(--meta-align-items);
  margin: var(--h2-margin);
}

article > header > .meta p {
  display: flex;
  align-items: center;
  font-family: var(--font-fira-mono);
  font-size: var(--meta-p-font-size);
  letter-spacing: 0.5px;
  margin: 0;
}

article > header > .meta svg {
  width: var(--meta-icon-size);
  height: var(--meta-icon-size);
  fill: rgb(var(--one-green-rgb));
  margin-right: -2px;
}

article > header > .meta em {
  margin-right: 2px;
  font-family: var(--font-marck-script);
  font-size: var(--meta-em-font-size);
  color: rgb(var(--one-red-rgb));
  text-shadow: rgba(var(--one-red-rgb), 0.4) 0px 0px 20px;
}

@media only screen and (min-width: 430px) {
  article {
    --meta-flex-direction: row;
    --meta-justify-content: center;
    --meta-p-font-size: 16px;
    --meta-em-font-size: 20px;
  }
}

@media only screen and (min-width: 768px) {
  article {
    --meta-icon-size: 42px;
    --meta-p-font-size: 18px;
    --meta-em-font-size: 22px;
  }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1280px) {
  article {
    --meta-icon-size: 48px;
    --meta-p-font-size: 18px;
    --meta-em-font-size: 24px;
  }
}
